@import './mixins.scss';

.header {
    padding: 35px 100px 25px 100px;
    background-color: inherit;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;

    @media (max-width:740px) {
        padding-top: 20px 10px 25px 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }

    &__nav__btn {
        background-color: inherit;
        padding: 0 32.5px;
        color: #555248;
        font-size: inherit;
        @include btn_hover(10px);

        @media (max-width: 510px) {
            display: flex;
            padding: 10px;
        }
    }

    &__link__button {
        background-color: inherit;
        width: 40px;
        color: #1B1A17;
        padding: 0 12px;
        font-size: 12px;
        @include btn_hover(50%);

        &__a__like {
            position: relative;
            padding: 1px 4px;
            font-size: 11px;
            background-color: #EAE3D4;
            left: 10px;
            bottom: 20px;
            border-radius: 50%;
        }
    }

}